@using MARS_Project.Models.Citizen
@model Login

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
 @TempData["Failed"]
<div style="color:red;text-align:center;">@TempData["NotFound"]</div>
<hr />
<div class="row">    
    
  
    <div style="color:red; text-align:center">@TempData["msg"] @TempData["SuccessChange"]</div>
    <div style="color:red; text-align:center">@TempData["Error"]</div>
    <div style="color:red; text-align:center">@TempData["Verify"] <br /> @TempData["FirstPassword"]</div>


    <div class="col-4 offset-4 border border-2 border-dark rounded">

        <form asp-action="Login" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmailID" class="control-label"></label>
                <input asp-for="EmailID" id="EmailID" class="form-control" autocomplete="off" placeholder="Enter your Email" />
                <span asp-validation-for="EmailID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" id="Password" class="form-control" autocomplete="off" placeholder="Enter your Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

           
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary mt-2 mb-2 w-100" />
                <a asp-action="SignUp" asp-controller="User" class="btn btn-outline-primary mt-2 mb-2 w-100">SignUp</a>
                <a asp-action="ForgotPassword" asp-controller="User" style="color:blue" onmouseover="this.style.color='red';" onmouseout="this.style.color='blue';">Forgot Password</a>

            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Home</a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>




@{
    Layout = "_LayoutLogin";
}

